body{
  font-family: 'Libre Franklin', sans-serif; 
}

.pointer {
  cursor: pointer;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
  align-items: center;
}

.nav-bar .center img {
  width: 200px;  
}

.nav-bar .left-side {
  display: flex;
  width: 300px;
  margin: 10px;
  justify-content: space-evenly;
}

.nav-bar .right-side button {
  background-color: #326891;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
}

.presentation{
  


  
}
.tittle {

}

.tittle h1{
  width: 600px;
  font-weight: 600;
  text-align: left;
  font-style: italic;
  font-size: 30px;
 
}
.img-tittle{

  
}
.img-tittle img{
  width: 1200px;
  
  
}

.facebook-icon{
 border: 20x solid black;
  
}
.img-tittle div{
  max-width: 600px;
}