body{
  font-family: 'Libre Franklin', sans-serif; 
  background: white;  
  
}

a {
  text-decoration: none;
  color: black;
}
.pointer {
  cursor: pointer;
}
.container {
  position: fixed;
  width: 100%;
  background-color: white;
  margin: 0;
}

.container hr {
  margin: 0;
}

.nav-bar {
  display: flex;
  margin: 0 auto;
  max-width: none;
  padding: 2px 20px 0 5px;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.nav-bar .left-side {
  float: right;
  display: flex;
  width: 240px;
  margin: 10px;
  justify-content: space-around;
  font-weight: 650;  
}

.nav-bar .center img {
  width: 230px;  
}

.nav-bar .right-side button {
  background-color: rgb(86, 123, 149);
  border-color: 1px solid rgb(50, 104, 145);
  color: white;
  border-radius: 3px;
  padding: 11px 12px 8px 12px;
  font-size: 11px;
  font-weight: 700;
  font-family: 'Libre Franklin', sans-serif;
  white-space: nowrap;
  line-height: 11px;
  letter-spacing: .05em;
}

section {
  display: flex;
  justify-content: center;
  
}

.presentation {
  margin-top: 60px;
}

.tittle {
  display: flex;
  justify-content: center;

}

.tittle h1{
  width: 600px;
  font-weight: 600;
  text-align: left;
  font-style: italic;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Merriweather', serif;
}

.img-tittle img{
  width: 980px;
}

.facebook-icon{
 border: 20x solid black;
  
}
.img-tittle div{
  max-width: 600px;
}

.description {
  width: inherit;
  margin: 5px 0 40px 0;
}

.description p {
  display: inline;
  color: #666;
}
.description .p1 {
  font-size: 10px;
}

.description .p2{
  font-size: 9px;
}

.info{
  display: flex; 
  justify-content: center;  
}

.presentation .info .by-info {
  font-weight: bold;
  font-size: 15px;
}

.social-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;	  
  margin-top:10px ;
  width: 600px;
  font-size: 13px;
  align-items: center;
}

.presentation .info .social-icons{
  align-items: center;
  display: flex;
}

.presentation .info .iconify{
  font-size:20px;
  margin-right: 10px;
}

.general-container {
  display: flex;
  justify-content: center;
}


article .article-container{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  width: 1200px;
  margin-top: 20px;
  display: flex;
  
}
article a {
  text-decoration: underline;
  color: #326891; 
   
}
.first-article{
  margin-left: 25%;
  width: 600px;
  
}
.editors-pick{
  flex-direction: column;
  display: flex;
  max-width: 210px;
  justify-content: center;
  margin-left: 5%;
}
.editors-pick hr{
  width: 100%;
}
.editors-pick p{
  font-size: 14px;
  margin-left: 10px;
}
.img-editors {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
}

.articles-editor{
  display: flex;
  
}

.barr-h hr{
  width: 40px;
}
.unlock-articles{
  display: grid;
  justify-content: center;
  background-color:;
 }
